@import "./shared";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

p,
a {
    font-size: 1.6rem;
}

a {
    text-decoration: inherit;
    color: inherit;
}

fieldset {
    border: 0;
}

::-webkit-scrollbar {
    width: 5px;
    &-track {
        background: $white-blured;
    }
    &-thumb {
        background: $white;
    }
}