$white: #fff;
$white-blured: rgba($color: $white, $alpha: 0.5);
$blue: #3578EB;
$blue-light: rgba($color: $blue, $alpha: 0.7);
$gray: #C2CBD9;
$gray-light: rgba($color: $gray, $alpha: 0.7);
$gray-background: #F6F7F9;