@import "../../style/shared";
.history {
    color: $white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    background-color: $blue;
    border-radius: 15px;
    padding-left: 15%;
    top: 0;
    left: 0;
    height: 100%;
    width: 115%;
    z-index: 0;
    &__container {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__table-container {
        max-height: 90%;
    }
    &__header {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr;
        align-items: end;
        &>span {
            text-align: right;
            padding: 8px 4px;
            border-bottom: 1px solid $white-blured;
        }
    }
    &__table {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr;
        max-height: 80%;
        overflow: auto;
        &>span {
            text-align: right;
            padding: 8px 4px;
            border-bottom: 1px solid $white-blured;
            &:nth-last-child(-n+4) {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &__no-conversion {
        text-align: center;
        padding: 5rem 0;
    }
    &__clear-history {
        outline: none;
        cursor: pointer;
        border: 0;
        padding: 0;
        background-color: $blue;
        color: $white-blured;
        text-decoration: underline;
        &--active {
            color: $white;
        }
    }
    &__arrow {
        width: 25px;
        height: 10px;
    }
}

.navigation {
    background-color: $blue;
    height: 100%;
    width: auto; //was 120%
    padding: 2rem;
    margin-left: -2.5rem;
    border: 5px solid $blue;
    border-radius: 15px;
    z-index: 0;
    transition: all 0.4s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: flex-start;
    &--active {
        transition: all 0.4s;
        right: -100%;
        padding-left: 25%;
    }
    &__nav {
        color: $white-blured;
        float: right;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__close {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}