@import "../../style/shared";
.converter {
    position: absolute;
    background-color: $white;
    border-radius: 15px;
    padding: 5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    // transform: translateX(-43.5%);
    fieldset {
        height: 100%;
    }
    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__heading {
        color: $blue;
        text-align: center;
        padding-bottom: 3rem;
    }
    &__currency-swap {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    &__currency-select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    &__convert-button {
        position: relative;
        border: 0;
        //margin-bottom: 3rem;
        display: block;
        width: 100%;
        padding: 1.5rem;
        border-radius: 999999px;
        color: $white;
        background-color: $blue;
        cursor: pointer;
        transition: all 0.3s;
        outline: none;
        &:disabled {
            background-color: $gray;
        }
        &--loading {
            animation: load-animate infinite linear 1s
        }
    }
}

@keyframes load-animate {
    0% {
        background-color: $blue;
    }
    50% {
        background-color: $blue-light;
    }
    0% {
        background-color: $blue;
    }
}