* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

p,
a {
  font-size: 1.6rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}

fieldset {
  border: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.app {
  background-color: #F6F7F9;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__logo {
  position: absolute;
  bottom: 20px;
  left: 60px;
  z-index: 1;
  opacity: 0.5;
  width: 150px;
}

@media (max-width: 800px) {
  .app__logo {
    padding: 2rem;
    background-color: #3578EB;
    border-radius: 5px;
  }
}

.app__blue-block::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #3578EB;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .app__blue-block::after {
    display: none;
  }
}

#notification {
  display: none;
}

#notification.show {
  display: block;
}

#notification .notification__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#notification .notification__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5rem;
  right: 5rem;
  width: 50rem;
  min-height: 10rem;
  background-color: #fff;
  padding: 2rem 3rem;
  z-index: 3;
  border-radius: 5px;
  border-left: 7px solid #E82B52;
}

#notification .notification__heading {
  font-weight: 700;
  margin-bottom: 1rem;
}

#notification .notification__close {
  width: 40px;
  height: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */