@import "./style/shared";
@import "./style/base";
.app {
    background-color: $gray-background;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        position: absolute;
        bottom: 20px;
        left: 60px;
        z-index: 1;
        opacity: 0.5;
        width: 150px;
        @media (max-width: 800px) {
            padding: 2rem;
            background-color: $blue;
            border-radius: 5px;
        }
    }
    &__blue-block::after {
        content: "";
        position: absolute;
        width: 50%;
        background-color: $blue;
        height: 100%;
        top: 0;
        left: 0;
        @media (max-width: 800px) {
            display: none;
        }
    }
}

#notification {
    display: none;
    &.show {
        display: block;
    }
    .notification {
        &__overlay {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &__box {
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            bottom: 5rem;
            right: 5rem;
            width: 50rem;
            min-height: 10rem;
            background-color: $white;
            padding: 2rem 3rem;
            z-index: 3;
            border-radius: 5px;
            border-left: 7px solid #E82B52;
        }
        &__heading {
            font-weight: 700;
            margin-bottom: 1rem;
        }
        &__close {
            width: 40px;
            height: 20px;
            cursor: pointer;
        }
    }
}